.outline {
    z-index: 10;
    outline: 1px solid white;
    color: white;
    opacity: 0.3;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}
