.acronym {
    /*/
    outline: 1px dotted red;
    /**/

    display: inline-flex;

    align-items: start;
    justify-content: center;
    flex-flow: column;

    height: 1em;

    line-height: 1em;
}

.word {
}

.initial {
    /* TODO: Use or remove empty css */
}

.rest {
    opacity: 0.5;
}
