.LanguagePicker {
    display: block;
    position: fixed;
    z-index: 10000;
    right: 10px;
    top: 10px;
}

.language img {
    display: block;
    width: 30px;
    height: 20px;
    border-radius: 6px;
    object-fit: cover;
    object-position: center center;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    /* TODO: !!! Better mobile locale switch */

    .LanguagePicker {
        right: -5px;
        top: -5px;
    }

    .language.current {
        display: none;
    }
}
