@font-face {
    font-family: PassionsConflict /* <- [🔠] Make one place for font-family */;
    src: url(../../public/fonts/PassionsConflict-Regular.ttf);
}

@font-face {
    font-family: Oswald /* <- [🔠] Make one place for font-family */;
    src: url(../../public/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

html {
    color-scheme: dark;
    image-rendering: smooth;

    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

body {
    background-color: #121121 /* <- TODO: Color to config */;
    font-family: 'Oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
        sans-serif /* <- [🔠] Make one place for font-family */;
}

/* TODO: [🎨] ACRY all colors in one place HERE */

.button,
button {
    /* !!! Better + var colors + hover + margin + mobile*/

    border: solid 1.5px rgb(78, 78, 78);
    background-color: rgb(7, 2, 2);
    color: rgb(78, 78, 78);
    border-radius: 6px;
    padding: 7px 18px;
    font-size: 0.9em;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
}
