@font-face {
    font-family: PassionsConflict /* <- [🔠] Make one place for font-family */;
    src: url(../../public/fonts/PassionsConflict-Regular.ttf);
}

@font-face {
    font-family: Oswald /* <- [🔠] Make one place for font-family */;
    src: url(../../public/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

html {
    color-scheme: dark;
    image-rendering: smooth;

    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

body {
    background-color: #121121 /* <- TODO: Color to config */;
    font-family: 'Oswald', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
        sans-serif /* <- [🔠] Make one place for font-family */;
}

/* TODO: [🎨] ACRY all colors in one place HERE */

.button /* <- Note: Not using <button> but <Link className="button"*/ {
    border: solid 1px var(--normal-text-color);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--normal-text-color);
    border-radius: 6px;
    padding: 7px 18px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    transition: all 0.05s ease-in-out;
}

.button:hover {
    background-color: rgba(44, 44, 44, 0.705);
    color: var(--highlighted-text-color);
    box-shadow: var(--highlighted-text-color) 0 0 5px;
}
