.vcard {
    /*/
    outline: 1px dotted green;
    /**/

    display: flex;
    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

.vcard img {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 100%;

    /*border: 5px solid #ff9912;*/
    /*box-shadow: #ff981231 0px 0px 15px;*/
}

.vcard ul {
    text-align: left;
    list-style: none;
    padding-left: 0;

    margin-left: 5%;
}

.vcard li {
    padding: 2px;
}
