.PavolHejnySection {
    /*/
    outline: 1px dotted green;
    /**/
}

.PavolHejnySection div p {
    text-align: left;
}

.PavolHejnySection img {
    display: block;
    float: left;

    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 50px;

    box-shadow: #00000077 -25px 25px 0px; /* <- TODO: Paralax effect on shadow */
    background-image: radial-gradient(circle at center, #b4952c 0%, #000000 120%)
        /* <- TODO: [💫] What is the propper place for this radial-gradient, in JSX or in CSS module + DRY */;
}

@media screen and (max-width: 300px) {
    .PavolHejnySection img {
        float: none;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: 50% 30%;
        box-shadow: none;
    }
}
