.about {
    /*/
    outline: 1px dotted green;
    /**/
}

.about p {
    text-align: left;
}

.about img {
    display: block;
    float: left;

    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 50px;

    box-shadow: #00000077 -25px 25px 0px; /* <- TODO: Paralax effect on shadow */
}

@media screen and (max-width: 550px) {
    .about img {
        float: none;
        width: 100%;
        object-fit: cover;
        object-position: 50% 30%;
        box-shadow: none;
    }
}
