.section {
    margin-top: 50px;
}

.section:last-child {
    margin-bottom: 50px;
}

.section > a {
    color: inherit;
    text-decoration: inherit;
}

.section h2 {
    display: inline-block;
    /* border-top: 5px solid #ff9912; */
}
