.page {
    width: 100%;

    display: grid;

    /* TODO: !!! On mobile strech cave from edge to edge */
    grid-template-columns: 2vw 1fr 3fr 1fr 2vw;
    grid-template-rows: 0px auto 20vh minmax;

    align-items: stretch;
    justify-items: stretch;
}

.cave {
    z-index: 1;
    /*/
    outline: 1px dotted red;
    /**/

    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
}

.content {
    z-index: 2;
    /*/
    outline: 1px dotted red;
    /**/
    grid-column: 2 / span 3;
    grid-row: 3 / span 2;
    text-align: center;
    color: white;
    text-shadow: #ff5500 0px 0px 10px;
}

.content h1 {
    font-family: 'PassionsConflict', Helvetica Neue;
    font-size: 60px;

    /* TODO: DRY */
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.content p {
    width: calc(50% + 1vw);
    margin: auto;
}
