.page {
    /*width: 100%;*/

    display: grid;

    grid-template-columns: 20vw 1fr 3fr 1fr 20vw;
    grid-template-rows: auto /* <- [🦉] Here should be vh limit instead of in .cave  */ 20vh auto minmax(17vh, 75px);

    align-items: stretch;
    justify-items: stretch;
}

@media only screen and (max-width: 1000px) {
    .page {
        grid-template-columns: 5vw 1fr 3fr 1fr 5vw;
    }
}

.page header {
    z-index: 1;
    /*/
    outline: 1px dotted red;
    /**/

    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}

.page main {
    z-index: 2;
    /*/
    outline: 1px dotted green;
    /**/
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
    text-align: center;
    color: white;
    text-shadow: #ff5500 0px 0px 10px;
}

.page main h1 {
    /* TODO: !!! h1 should be in header*/

    /*/
    outline: 1px dotted purple;
    /**/

    font-family: 'PassionsConflict', Helvetica Neue;
    font-size: 60px;

    /* TODO: DRY */
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.page main p {
    /* TODO: !!! perex should be in header*/

    /*/
    outline: 1px dotted purple;
    /**/

    /*width: calc(50% + 1vw);*/
    margin: auto;
}

.page footer {
    z-index: 2;
    /*/
    outline: 1px dotted green;
    /**/
    grid-column: 1 / span 5;
    grid-row: 4 / span 1;
    text-align: center;
    color: white;
    text-shadow: #ff5500 0px 0px 10px;
}
