.item {
    /*/
    outline: 1px dotted red;
    /**/

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    align-items: stretch;
    justify-content: stretch;
}

.imageContainer /* <- TODO: [🦂] CSS class imageContainer vs image-container*/ {
    /*/
    outline: 1px dotted red;
    /**/

    order: 1;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.title {
    /*/
    outline: 1px dotted blue;
    /**/

    order: 3;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    display: flex;
    align-items: center;
    justify-content: center;

    /* !!! TODO: Maybe mask */
    font-size: 30px;
}

.description {
    /*/
    outline: 1px dotted yellow;
    /**/

    order: 2;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    display: flex;
    align-items: start;
    justify-content: start;

    text-align: left;
    padding: 5px;
    font-size: 15px;
}
