.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr min-content;
    align-items: stretch;
    justify-items: stretch;
}

.imageContainer /* <- TODO: [🦂] CSS class imageContainer vs image-container*/ {
    order: 1;

    /*/
    outline: 1px dotted red;
    /**/
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.title {
    order: 3;

    /*/
    outline: 1px dotted red;
    /**/
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    font-size: 20px;
}

.description {
    order: 2;

    /*/
    outline: 1px dotted red;
    /**/
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    font-size: 15px;
}
